{% extends 'base.html.twig' %}

{% block title %}Mon compte Sessad - Pretothèque
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	Bienvenue
	{{ app.user.prenom }}
	{{ app.user.nom }}
	dans votre compte<hr>

	{% if is_granted('ROLE_ADMIN') %}
		<a href="/admin">Accéder au tableau de bord</a><br>
	{% endif %}
	<a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br>
	<a href="{{ path('emprunteurs')}}">Accéder au classement des emprunteurs</a>


	<hr>
{% endblock %}
