{% extends 'base.html.twig' %}

{% block title %}Mon compte Sessad - Pretothèque
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	Bienvenue
	{{ app.user.prenom }}
	{{ app.user.nom }}
	dans votre compte<hr>

<a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br>


<hr>
{% endblock %}
