{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title "Bienvenue dans l'espace administrateur" %}

{% block page_content %}
	<style>
		p {
			max-width: 600px;
		}
	</style>

	<p>
		<strong>Veuillez consulter le menu ci-contre pour effectuer vos consultations et mises a jour</strong>
	</p>


{% endblock %}
