{% extends 'base.html.twig' %}

{% block title %}Les articles Sessad-Pretotheque
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-3">
			<h2>Filtrer</h2>
			{{ form(form) }}

			</div>
			<div class="col-md-9">
				<h2>Les Articles</h2>

				<div class="row">
					{% for article in articles %}
						<div class="col-md-4">
							{% include 'article/single_article.html.twig' %}
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	{% endblock %}
